name: "Sip&Savour API CI"

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupération du code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Installation de Python 3.10 
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      # 3. Installation des dépendances
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

          pip install pytest flake8

          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

          if [ -d "automl" ]; then pip install -e ./automl; fi

      # 4. Vérification Qualité (Linting)
      - name: Lint with Flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      # 5. Lancement des Tests
      - name: Run Tests
        run: |
          # Lance tous les tests trouvés dans le projet
          pytest
